<div class="container" style="padding-top:70px; text-align:center;">
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field col-md-5 ml-auto mr-auto">
      <strong><%= f.label :email %></strong><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: "btn" %>
  </div>
<% end %>
<br>
<%= render "users/shared/links" %>
</div>
