<% nesting     = local_assigns.fetch(:nesting, 1) %>
<% max_nesting = local_assigns[:max_nesting] %>
<% continue_thread = local_assigns[:continue_thread] %>

<div class="border-left pl-4 mt-4">
  <% if comment.deleted? %>
    <strong>[deleted]</strong> posted
    <p>[deleted]</p>
  <% elsif comment.hidden == true %>
    <strong>[removed]</strong> posted
    <p>[removed]</p>    
  <% else %>
    <strong><%= comment.user.email %></strong> posted
    <%= simple_format comment.body %>

    <div class="media-footer">
     <%= link_to like_post_comment_path(@post, comment), :class => "btn btn-default", method: :put do %>upvote (<%= comment.get_upvotes.size %>)<% end %>
     <%= link_to dislike_post_comment_path(@post, comment), :class => "btn btn-default", method: :put do %>downvote (<%= comment.get_downvotes.size %>)<% end %>
    </div>
  <% end %>

   <div data-controller="reply">
   	<%= nesting %>
    <%= max_nesting %>
    <%= render partial: "comments/form", locals: { commentable: @post, parent_id: reply_to_comment_id(comment, nesting, max_nesting), class: "mt-4 d-none", target: "reply.form" } %>
      <%= link_to "Reply", "#", data: { action: "click->reply#toggle" } %>
      <%= link_to "Delete", [comment.commentable, comment], method: :delete, data: {confirm: "Are you sure?"} if comment.user == current_user %>
      <%= link_to "Hide", hide_post_comment_path(@post, comment), method: :patch, data: {confirm: "Are you sure?"} %>
  </div>

  <%= render comment.comments, nesting: nesting + 1, max_nesting: local_assigns[:max_nesting] %>
</div>

