<% nesting     = local_assigns.fetch(:nesting, 1) %>
<% max_nesting = local_assigns[:max_nesting] %>
<% continue_thread = local_assigns[:continue_thread] %>

<div class="border-left pl-4 mt-4">
  <% if comment.deleted? %>
    <strong>[deleted]</strong> posted
    <p>[deleted]</p>
  <% elsif comment.hidden == true %>
    <strong>[removed]</strong> posted
    <p>[removed]</p>    
  <% else %>
    <% if comment.user.anon_id == 2 %>
      <strong>Anonymous (<%= comment.user.reputation %>)</strong>
    <% else %>
      <strong><%= comment.user.email %> (<%= comment.user.reputation %>)</strong>
    <% end %>
      posted
  <div>

    <%= simple_format comment.body %>
  <div data-controller="reply">
    <small>
      <%= link_to like_post_comment_path(@post, comment), method: :put, class:"btn btn-info btn-neutral" do %><i class="material-icons">thumb_up</i> <%= comment.get_upvotes.size %><% end %>
      <%= link_to "#", data: { action: "click->reply#toggle" }, class: "btn btn-primary btn-neutral" do %><i class="material-icons">chat</i> Reply<% end %>
                              <% if comment.user == current_user %>
      <%= link_to [comment.commentable, comment], method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-neutral" do %><i class="material-icons">delete</i><% end %>
      <% else %>
      <% end %>
      <% if comment.deleted? %>
      <% else %>
        <%= link_to hide_post_comment_path(@post, comment), method: :patch, data: {confirm: "Are you sure?"}, class:"btn btn-danger btn-neutral" do %><i class="material-icons">flag</i><% end %>
      <% end %>
    </small>

    <%= render partial: "comments/form", locals: {
      commentable: comment.commentable,
      parent_id: reply_to_comment_id(comment, nesting, max_nesting),
      class: "mt-4",
      target: "reply.form"
    } %>
  </div>
  </div>
  <% end %>


  <%= render comment.comments, nesting: nesting + 1, max_nesting: local_assigns[:max_nesting] %>
</div>


