<% if user_signed_in? %>
<% @title= current_user.email %>
<%= render "layouts/dashboard/userdash" %>
<%= render "layouts/footer/footer" %>
<% elsif business_signed_in? %>
<% @title= current_business.name %>
<%= render "layouts/dashboard/bizdash" %>
<%= render "layouts/footer/footer" %>
<% else %>


<div class="header-2 desktop-only" style="padding-top: 55px">
    <div class="page-header header-filter page-header">
      <div class="page-header-image" style="background-image: url('images/business-team-meeting-boardroom_925x.jpg');"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center" style="padding-top: 60px">
              <% flash.each do |name, msg| %>
                  <br>
              <%= content_tag(:div, msg, class: "alert alert-info", style: "color: #fff; text-align:center") %>
              <% end %>
            <h2>Find resources for your classes here!</h2>
          </div>
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-raised card-form-horizontal card-plain" data-background-color="">
              <div class="card-body">
            <%= search_form_for @search, url: posts_path, defaults: {wrapper: :inline_field4} do |f| %>
                  <div class="row">
                    <div class="col-md-9">
                      <div class="form-group">
                   <%= f.text_field :title_or_content_or_course_name_or_comments_body_cont, placeholder: 'Search by subject, topic or class', class:"form-control form-control-lg", style:"border-width: 2px;" %>
                      </div>
                    </div>
                    <div class="col-md-3">
              <%= f.submit "Search", class:"btn btn-primary btn-round btn-block" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="info">
                          <%= link_to posts_path do %>
            <div class="icon icon-success icon-circle">
                <i class="material-icons">
                question_answer
                </i>
            </div><% end %>

              <div class="description">
                <%= link_to posts_path do %>
                <h4 class="info-title" style="font-weight: bold">Save Time</h4>
                <% end %>
                <p style="font-weight: 900; color: white">Find answers to questions already asked, informaiton found, and more.</p>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
                          <%= link_to courses_path do %>
            <div class="icon icon-info icon-circle">
                <i class="material-icons">
                account_balance
                </i>
            </div><% end %>
              <div class="description">
                <%= link_to courses_path do %>
                <h4 class="info-title" style="font-weight: bold">Collaborate</h4>
                <% end %>
                <p style="font-weight: 900; color: white">Work with other students both past and present who have taken your courses.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
                          <%= link_to rewards_path do %>
            <div class="icon icon-warning icon-circle">
                <i class="material-icons">
                redeem
                </i>
            </div><% end %>
              <div class="description">
                <%= link_to rewards_path do %>
                <h4 class="info-title" style="font-weight: bold">Earn Rewards</h4>
                <% end %>
                <p style="font-weight: 900; color: white">Earn points for helpful posts/comments and redeem for discounts at local businesses.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="header-2 mobile-only">
    <div class="page-header header-filter page-header">
      <div class="page-header-image" style="background-image: url('images/business-team-meeting-boardroom_925x.jpg');"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center" style="padding-top:90px">
            <h1>Find resources for your classes here!</h1>
          </div>
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-raised card-form-horizontal card-plain" data-background-color="">
              <div class="card-body">
            <%= search_form_for @search, url: posts_path, defaults: {wrapper: :inline_field4} do |f| %>
                  <div class="row">
                    <div class="col-md-9">
                      <div class="form-group">
                   <%= f.text_field :title_or_content_or_comments_body_cont, placeholder: 'Keywords', class:"form-control", style:"border-width: 2px" %>
                      </div>
                    </div>
                    <div class="col-md-3">
              <%= f.submit "Search", class:"btn btn-primary btn-round btn-block" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="info">
            <%= link_to posts_path do %>
            <div class="icon icon-success icon-circle">
                <i class="material-icons">
                question_answer
                </i>
            </div><% end %>

              <div class="description">
                <%= link_to posts_path do %>
                <h4 class="info-title" style="font-weight: bold">All Posts</h4>
                <% end %>
                <p style="font-weight: 900; color: white">Find answers to questions already asked, informaiton found, and more.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="features-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <h2 class="title" style="text-align:center">On the shoulders of giants.</h2>
        <h4 class="description" style="text-align:center">You don't need to spend time searching for resources that your classmates have already found. You're not the first person to get confused on that question. Join the community and spend less time studying. Your helpful posts and comments earn you points and discounts at local businesses. </h4>

        <h4></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="tablet-container">
          <div class="container-fluid">
            <h3 style="text-align:center">Recent Posts</h3>
            <div class="card">
              <div class="card-content" style="text-align:center">
                  <div class="table-responsive">
                      <table class="table">
                          <thead class="text-primary">
                              <tr>
                                <th>Title</th>
                                <th>Course</th>
                                <th>Time created</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @posts.first(5).each do |post| %>
                              <tr>
                                <td><strong><%= link_to post.title, post %></strong></td>
                                <td><%= link_to post.course.name, post.course %></td>
                                <td><%= time_ago_in_words(post.created_at) + " ago" %></td>
                              </tr>
                            <% end %>
                          </tbody>
                      </table>
                  </div>
                  <div class="row">
                    <div class="col mr-auto ml-auto">
                      <div style="background:#f1f1f1; text-align:center; padding: 1em">
                        <%= link_to 'More Posts', posts_path, class:"btn btn-primary" %>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tablet-container">
          <div class="container-fluid">
            <h3 style="text-align:center">Recent Rewards</h3>
            <div class="card">
              <div class="card-content" style="text-align:center">
              <% if @rewards.blank? %>
                <br>
                <br>
                <h4 style="text-align:center">More rewards are coming soon!</h4>
                <br>
                <br>
                <% else %>
                  <div class="table-responsive">
                      <table class="table">
                          <thead class="text-primary">
                              <tr>
                                <th>Reward</th>
                                <th>Cost</th>
                                <th>Expires</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @rewards.first(5).each do |reward| %>
                              <tr>
                                <td><strong><%= link_to reward.name, reward %></strong></td>
                                <td><%= pluralize(reward.try(:cost), 'Point') %></td>
                                <td><%= reward.expdate.strftime("%m/%d/%Y") %></td>
                              </tr>
                            <% end %>
                          </tbody>
                      </table>
                  </div>

                  <div class="row">
                    <div class="col mr-auto ml-auto">
                      <div style="background:#f1f1f1; text-align:center; padding: 1em">
                        <%= link_to 'More Rewards', rewards_path, class:"btn btn-primary" %>
                      </div>
                    </div>
                  </div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %> 