<body class="blog-post">
  <div class="wrapper">
    <div class="page-header header-filter page-header-mini" filter-color="black">
      <div class="page-header-image" data-parallax="false" style="background-image: url(../images/blue-ribbon-on-gift.jpg); transform: translate3d(0px, 0px, 0px);">
        </div>
        <div class="content-center">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title"><%= @rewardpurchase.rewardname %></h2>
            </div>
          </div>
        </div>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info", style: "text-align:center") %>
      <% end %>
        <div class="section">
          <div class="container text-center">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <% flash.each do |name, msg| %>
                  <%= content_tag(:div, msg, class: "alert alert-info") %>
                <% end %>
                <h3 class="title"><%= @rewardpurchase.reward.name %> at <%= @rewardpurchase.reward.business.name %></h3>
                <div class="card">
                  <div class="card-content">
                    <div class="container text-center">
                      <br>
                      <p>Bring this screen to the store and show it to the cashier.</p>
                      <p>The business will press the redeem button to confirm the reward.</p>
                      <%= button_to 'Redeem', redeem_rewardpurchase_path(@rewardpurchase), method: :post, :class => 'btn btn-primary btn-round btn-lg' %>
                    </div>
                  </div>
                </div>
                <p><strong>Reward description: </strong><%= simple_format @rewardpurchase.reward.description %></p>
              </div>
            </div>
          </div>
        </div>

 </body>