<head>
  <script>
    $(document).ready(function() { $("#post_course_id").select2({theme: "bootstrap"}); });
  </script>
</head>

<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course %><br />
    <%= form.collection_select :course_id, Course.all, :id, :name_with_univ, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :ptype %><br />
    <%= form.collection_select :ptype_id, Ptype.all, :id, :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
