<% @title="- Posts" %>
<div class="container d-lg-none" style="padding-top:80px">
  <a class="nav-item d-lg-none" style="text-align:center; padding-right: 15px">
    <%= search_form_for @q, url: search_posts_path, html: { method: :post} do |f| %>
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">
            Search
          </button>       
        </div>
      </div>
    <% end %>
  </a>
</div>
<div class="container d-lg-none">
  <a class="nav-item d-lg-none" style="text-align:center; padding-right: 15px">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: "alert alert-info", style: "text-align:center") %> <br>
          <% end %>      
        </div>
      </div>
  </a>
</div>
<div class="d-none d-lg-block">
  <br>
  <br>
  <br>
  <br>
</div>
<div class="contatiner">
  <% if @posts.blank? %>
  <% else %>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <h4 style="margin-top: 0px; text-align: center">Posts</h4>
          <% @posts.each do |post| %>
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="card-header mt-2 text-center">
                  <%= link_to post.course.name_with_univ, post.course %>
                </div>          
              </li>
              <li class="list-group-item">
                <div class="card-body">
                  <div class="row">
                    <div class="col-3 d-sm-none">
                      <ul class="list-group">
                        <li class="list-group-item mx-auto border-0 m-0 p-0"><%= link_to like_post_path(post), method: :put do %><i class="material-icons" style="">thumb_up</i><% end %></li>
                        <li class="list-group-item mx-auto border-0 m-0 p-0">0 </li>
                        <li class="list-group-item mx-auto border-0 m-0 p-0"><%= link_to dislike_post_path(post), method: :put do %><i class="material-icons" style="">thumb_down</i><% end %></li>
                      </ul>
                    </div>
                    <div class="col-2 d-none d-sm-block d-md-none">
                      <ul class="list-group">
                        <li class="list-group-item mx-auto border-0 m-0 p-0"><%= link_to like_post_path(post), method: :put do %><i class="material-icons" style="">thumb_up</i><% end %></li>
                        <li class="list-group-item mx-auto border-0 m-0 p-0">0 </li>
                        <li class="list-group-item mx-auto border-0 m-0 p-0"><%= link_to dislike_post_path(post), method: :put do %><i class="material-icons" style="">thumb_down</i><% end %></li>
                      </ul>
                    </div>
                    <div class="col-1 d-none d-md-block">
                      <ul class="list-group">
                        <li class="list-group-item mx-auto border-0 m-0 p-0"><%= link_to like_post_path(post), method: :put do %><i class="material-icons" style="">thumb_up</i><% end %></li>
                        <li class="list-group-item mx-auto border-0 m-0 p-0">0 </li>
                        <li class="list-group-item mx-auto border-0 m-0 p-0"><%= link_to dislike_post_path(post), method: :put do %><i class="material-icons" style="">thumb_down</i><% end %></li>
                      </ul>
                    </div>
                    <div class="col">
                      <h4 class="card-title" style="margin-top: 0px"><%= link_to truncate(post.title, :length => 50), post %></h4>
                      <p class="card-text"><%= truncate(post.content, :length => 250) %></p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="card-footer text-muted mb-2 text-center" style="margin-top: 5px">
                  <% if post.ptype.id == 2 %> posted <% else %> asked <% end %> <%= time_ago_in_words(post.created_at) %> ago by <strong><%= post.user.email.slice(0, post.user.email.index('@')) %>(<%= post.user.try(:reputation) %>)</strong>
                </div>          
              </li>
            </ul>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>
<div class="about-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h4 class="text-center title" style="margin-top: 0px">Couldn't find what you're looking for?</h4>
          <h4 class="text-center description" style="margin-top: 0px">Submit a post with your question and see if anyone else has found it.</h4>
          <div style="text-align:center; padding-bottom: 10px">
          <%= link_to 'New Post', new_post_path, class:"btn btn-primary btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <input class="form-control" type="text" placeholder="Search Items">
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>