<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/headtag/headone" %>
  </head>

  <body>
    <% if user_signed_in? %>
    <%= render "layouts/header/user_navbar" %>
    <% elsif business_signed_in? %>
    <%= render "layouts/header/business_navbar" %>
    <% else %>
    <%= render "layouts/header/navbar" %>
    <% end %>
    
    <%= yield %>
    
    <% if user_signed_in? %>
    <%= render "layouts/footer/user_footer" %>
    <% elsif business_signed_in? %>
    <%= render "layouts/footer/business_footer" %>
    <% else %>
    <%= render "layouts/footer/footer" %>
    <% end %>
  </body>
</html>
